.td,
th {
    border: 2px solid black;
    padding: 5px;
    text-align: center;

}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    align-items: center;
    background-color: aquamarine;

}

#tablediv {
    width: 100%;
}